/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #1d33c4;
    margin: 0 auto;

  }
.container {
   margin: 0 auto;
}
.full-header {
    display: flex;
    margin-bottom: 30px;
}
.tittle h1 {
    color: white;
    font-family: sans-serif;
}
.icons {
    margin-left: 1000px;
}
#wrapper {
    display: grid;
    max-width: 1440px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);                    
}
 .mans1-box {
    background-color: white;
    color:  #1d33c4;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.resp-box {
    background-color: white;
    color:  #1d33c4;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
.over-box {
    background-color: white;
    color:  #1d33c4;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;
}
.fluid-box{
    text-align: center;
    background-color: white;
    color:  #1d33c4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.expl-box {
    background-color: white;
    color:  #1d33c4;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
}
.neg-box {
    background-color: white;
    color:  #1d33c4;
    text-align: center;
}
.mans3-box {
    background-color: white;
    color:  #1d33c4;
    text-align: center;
}
.flexible-box {
    background-color: white;
    color:  #1d33c4;
    text-align: center;
}
.mans2-box {
    background-color: white;
    color:  #1d33c4;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.dom-box {
    background-color: white;
    color:  #1d33c4;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
}
.named-box {
    text-align: center;
    color:  #1d33c4;
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 5;
}